html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px; 
}

.header {
  margin: 0;
}